<div id="<%= dom_id image %>">
  <p>
    <strong>File path:</strong>
    <%= image.file_path %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= image.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= image.description %>
  </p>

  <p>
    <strong>Uploaded at:</strong>
    <%= image.uploaded_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= image.user_id %>
  </p>

</div>
